@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #010d11;
  --blue: #14213d;
  --orange: #fca311;
  --white: #ffffff;
  --gray: #e5e5e5;
  font-family: "alibaba";
}

.hero {
  transform-origin: top left;
  position: absolute;
  left: -483px;
  top: 45vh;
  width: 1000px;
  height: 625px;
  background-image: url("/first.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.6928, -0.7212, 0.7212, 0.6928, 0, 0);
}
.signup-circle {
  position: absolute;
  left: -216px;
  top: 560px;
  width: 700px;
  height: 700px;
  overflow: visible;
}
input:placeholder-shown {
  direction: rtl;
}

.penItem_bg {
  background: linear-gradient(to right, #222c40, #3558a3 100%);
}
.comment {
  background-color: #14203a75;
  box-shadow: inset 1px 0 25px rgba(0, 0, 0, 0.25);
}
.stamp {
  box-shadow: inset 1px 0 25px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right, #232d30 0%, #141d23 31%, #181b22 100%);
}
.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.back-drop {
  animation: blur 1.5s ease-in-out 2.5s forwards alternate;
}
.show{
  animation: showtext 1.5s ease-in-out 3s forwards alternate;
  opacity: 0;
}

@keyframes blur {
  100% {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}
@keyframes showtext {
  100% {
    opacity: 1;
  }
}
