@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #010d11;
  --blue: #14213d;
  --orange: #fca311;
  --white: #ffffff;
  --gray: #e5e5e5;
  font-family: "alibaba";
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #010d11;
    --blue: #14213d;
    --orange: #fca311;
    --white: #ffffff;
    --gray: #e5e5e5;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
