@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #010d11;
  --blue: #14213d;
  --orange: #fca311;
  --white: #ffffff;
  --gray: #e5e5e5;
  font-family: "alibaba";
}

.hero {
  transform-origin: top left;
  position: absolute;
  left: -483px;
  top: 45vh;
  width: 1000px;
  height: 625px;
  background-image: url("/first.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: matrix(0.6928, -0.7212, 0.7212, 0.6928, 0, 0);
}
.signup-circle {
  position: absolute;
  left: -216px;
  top: 560px;
  width: 700px;
  height: 700px;
  overflow: visible;
}
input:placeholder-shown {
  direction: rtl;
}


.penItem_bg {
  background: linear-gradient(to right, #222c40, #3558a3 100%);
}
.comment {
  background-color: #14203a75;
  box-shadow: inset 1px 0 25px rgba(0, 0, 0, 0.25);
}
.stamp {
  box-shadow: inset 1px 0 25px rgba(0, 0, 0, 0.25);
  background: linear-gradient(to right, #232d30 0%, #141d23 31%, #181b22 100%);
}
.back-drop {
  animation: blur 1.5s ease-in-out 2.5s forwards alternate;
}
.show{
  animation: showtext 1.5s ease-in-out 3s forwards alternate;
  opacity: 0;
}

@keyframes blur {
  100% {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
}
@keyframes showtext {
  100% {
    opacity: 1;
  }
}
.loader {
  width: 60px;
  aspect-ratio: 1;
  --c:no-repeat linear-gradient(#fca311 0 0);
  background:
    var(--c) 0 38px,
    var(--c) right 18px bottom 18px,
    var(--c) right 18px top    18px,
    var(--c) 18px 18px,
    var(--c) 18px 100%,
    var(--c) 100% 100%,
    var(--c) 100% 0,
    var(--c) 0 0;
  animation: 
    l8-1 2s infinite,
    l8-2 2s infinite;
}
@keyframes l8-1 {
  0%     {background-size: 0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   }
  6.25%  {background-size: 40px 4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   }
  12.5%  {background-size: 40px 4px,4px 20px,0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   }
  18.75% {background-size: 40px 4px,4px 20px,20px 4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   }
  25%    {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,0    4px,4px 0   ,0    4px,4px 0   }
  31.25% {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 0   ,0    4px,4px 0   }
  37.5%  {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,0    4px,4px 0   }
  43.75% {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 0   }
  48%,
  52%    {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 40px}
  56.25% {background-size: 0    4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 40px}
  62.5%  {background-size: 0    4px,4px 0   ,20px 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 40px}
  68.75% {background-size: 0    4px,4px 0   ,0    4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 40px}
  75%    {background-size: 0    4px,4px 0   ,0    4px,4px 0   ,40px 4px,4px 100%,100% 4px,4px 40px}
  81.25% {background-size: 0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 100%,100% 4px,4px 40px}
  87.5%  {background-size: 0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   ,100% 4px,4px 40px}
  93.75% {background-size: 0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 40px}
  100%   {background-size: 0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   }
}
@keyframes l8-2 {
  0%,49.9% {background-position:0 38px, right 18px bottom 18px, right 18px top 18px,18px 18px,18px 100%,100% 100%,100% 0,0 0}
  50%,100% {background-position:right 18px bottom 18px, right 18px top 18px, 18px 18px,18px 100%,100% 100%,100% 0,0 0,bottom 18px left 0}
}